* {
    box-sizing: border-box;
    font-family: "Cormorant SC", serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; /* Для улучшения отображения шрифтов в Safari */
}

h1, h2, h3 {
    margin: 0;
}

.cursiv {
    font-style: italic;
    color: #97282f;
}

body {
    background-color: white;
    margin: auto;
    max-width: 440px;
    padding-top: 40px;
}

.container {
    position: relative;
    padding: 0 25px;
}

header {
    padding: 0 0 60px;
}

.header_inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header_body {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: relative;
}

.header_body .test-img {
    width: 210px;
    height: 280px;
    background-color: #e6e6e676;
    filter: grayscale(1);
   
    scale: 1.35;
    object-fit: cover;
    position: absolute;
    top: 20px;
    right: 5px;
}

.header_body .image-block {
    width: 200px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.header_body .name-peoples {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    right: 0px;
    font-size: 40px;
}

.header_body .name-peoples .text {
    letter-spacing: 5px;
    font-weight: 600;
}

.header_body .name-peoples .timur {
    text-align: end;
    color: #212121;
}

.header_body .name-peoples .aygul {
    color: #212121;
}

.header_body .name-peoples .custom {
    text-align: end;
}

.header_body .time_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: -27px;
    font-size: 110px;
    color:rgba(235, 235, 235, 0.814);
}

.header_body .time_block span {
    font-family: "Cinzel", serif;
    max-height: 100px;
}

.header_body .time_block .custom span {
    margin-left: 7px;
}

.line_block {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.line_block h3 {
    text-align: end;
    font-size: 15px;
}

.line_block .line {
    width: 100%;
    height: 1px;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
}

main .header_text {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

main .black {
    background-color: #212121;
    color: white;
}

main .dorogie_gosti_block {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    color: white;
    padding: 35px 10px;
}

main .dorogie_gosti_block .inner_text {
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

main .my_stanem_semi {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 35px 10px;
}

main .programma_torjestva {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 35px 10px;
}

main .programma_torjestva .programma_list {
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .programma_torjestva .programma_list li {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
}

main .programma_torjestva .programma_list li h3 {
    font-size: 30px;
    min-width: 70px;
}

main .programma_torjestva .programma_list li .line {
    width: 30px;
    margin-top: 4px;
    min-height: 1px;
    background-color: black;
}

main .programma_torjestva .programma_list li h4 {
    font-size: 17px;
    margin: 0;
}

main .location {
    width: 100%;
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

main .location .header_block {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

main .location .header_block .line {
    height: 2px;
    border-radius: 5px;
    width: 90px;
    background-color: white;
}

main .location .location_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

main .location .location_info .image {
    object-fit: cover;
    object-position: center;
    filter: brightness(80%);
    border-radius: 2px;
}

main .location .location_info .location-info_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .location .location_info .location-info_inner .location-name {
    font-size: 20px;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: 1.5px;
    font-family: "Cormorant Unicase", serif;
}

main .location .location_info .location-info_inner .location-description {
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

main .location .navigate_map {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin: 5px 0;
    padding: 17px 25px;
    border: 1px white solid;
    background-color: rgba(255, 255, 255, 0.084);
}

main .location .navigate_map:hover {
    background-color: rgba(255, 255, 255, 0.174);
}

main .family {
    padding: 35px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .family .calendar_header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 600;
}

main .family .calendar {
    display: grid;
    grid-template-columns: repeat(7, 26px);
    gap: 5px;
    text-align: center;
    position: relative;
}

main .family .calendar .line {
    position: absolute;
    width: 99%;
    left: 50%;
    -webkit-transform: translateX(-48%);
    transform: translateX(-48%);
    height: 1.8px;
    top: 25px;
    border-radius: 5px;
    padding: 0;
    background-color: black;
}

main .family .heart_icon{
    margin-top: -5px;
    margin-left: -4px;
}

main .family .calendar div {
    padding: 5px;
    font-weight: 600;
    font-size: 13px;
    width: 33px;
    height: 19px;
    font-family: "Montserrat", sans-serif;
}

main .calendar .heart{
    position: relative;
}

main .calendar .heart span{
    position: absolute; 
    color: white;
    top: 5px;
    right: 10px;
    font-size: 13px;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
}

main .family .day-names {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
}

main .family .date{
    margin-top: 15px;
    text-align: center;
    font-size: 47px;
    font-weight: 600;
}
    

main  .family_image{
    width: 100%;
    height: 200px;
    background-image: url('./img/f0c376abef3caf5c4bb5.jpg');
    background-position: center;
    background-size: cover;
}

.notification_block{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.notification_elm{
    min-width: 110px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: white;
    box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.1);
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    overflow-y: hidden;
}

.notification_elm.active{
    opacity: 1;
    visibility: visible;
}


.notification_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
}

.confim_action_inner{
   
}

.confim_action{
    padding: 35px 10px;
}

.confim_action .header_text{
    margin-bottom: 20px;
}

.confim_action .form_inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.confim_action .form_inner .text{
    background-color: transparent;
    border: 1px solid white;
    padding: 4px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    border-radius: 3px;
    width: 100%;
}

.confim_action .form_inner .text:focus{
    outline: none;
}

.confim_action .radio_list{
    margin: 10px 0;
    width: 100%;
}

.confim_action .radio_button label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.confim_action .confirm_action_button{
    background-color: transparent;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.084);
    padding: 17px 28px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    margin-top: 5px;
    transition: all .2s ease-in-out;
}

.confim_action .confirm_action_button:active {
	transform: scale(1.1);
	transition: .1s;
}

.confim_action .confirm_action_button:hover{
    background-color: rgba(255, 255, 255, 0.174);
}


.confim_action .header_block {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-bottom: 35px;
}

.confim_action .header_block .line {
    height: 2px;
    border-radius: 5px;
    width: 110px;
    background-color: white;
}

.buffer_image{
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 250px;
}

.buffer_image img{
    position: absolute;
    width:440px;
    height:340px;
    object-fit: cover;
    filter: grayscale(1);
    bottom: 0px;
}



